/*
Application colors
 */
$color1: #f6a192;
$color2: #f6cf92;
$color3: #9bb5ca;
$light-gray: #f7f7f7;
$medium-gray: #e1e1e1;
$dark-gray: #c2c2c2;
$black: #333;
$white: #fff;
$transparent: rgba(0, 0, 0, 0);
