/*
Application colors
 */
$color1: #66c2a5;
$color2: #008cba;
$color3: #4c6e91;
$light-gray: #f7f7f7;
$medium-gray: #e1e1e1;
$dark-gray: #c2c2c2;
$black: #333;
$white: #fff;
$transparent: rgba(0, 0, 0, 0);
